
<div>
  
  <label for="status" [ngStyle]="{'color': statusColor[selectedStatus]}">Select Status:</label>
  <select [(ngModel)]="selectedStatus" (change)="fetchIncidentsByStatus()" [ngStyle]="{'color': statusColor[selectedStatus]}">
    <option value="New" [ngStyle]="{'color': statusColor['New']}">New</option>
    <option value="Assigned" [ngStyle]="{'color': statusColor['Assigned']}">Assigned</option>
    <option value="InProgress" [ngStyle]="{'color': statusColor['Inprogress']}">Inprogress</option>
    <option value="Forwarded" [ngStyle]="{'color': statusColor['Forwarded']}">Forwarded</option>
    <option value="Resolved" [ngStyle]="{'color': statusColor['Resolved']}">Resolved</option>
    <option value="Closed" [ngStyle]="{'color': statusColor['Closed']}">Closed</option>
  </select>
</div>

  <ul>
    <li *ngFor="let incident of incidents"> 
      <div class="basic-info">
        <p class="highlight">Ticket Id: <span class="incident-value">{{ incident.id }}</span></p>
        <p class="highlight">Description: <span class="incident-value">{{ incident.description }}</span></p>
        <p class="highlight">created At: <span class="incident-value">{{ incident.createdTime }}</span></p>   
        <p class="highlight" [ngClass]="{'status-new': incident.status === 'New', 'status-closed': incident.status === 'Closed','status-assigned': incident.status === 'Assigned','status-inprogress': incident.status === 'Inprogress', 'status-resolved': incident.status === 'Resolved','status-forwarded':incident.status ==='Forwarded'}"style="color: white">Status: {{ incident.status }}</p>
  </div>
        <div class="button-container">
          <button class="show-details-btn" (click)="showDetails(incident.id ? incident.id : 0)">Show Details</button>
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
      </div> 
        <div class="side-tab" id="sideTab{{ incident.id }}">
          <p class="highlight">Issue Type: <span class="incident-value">{{ incident.issueType }}</span></p>
          <p class="highlight">NetworkElement: <span class="incident-value">{{ incident.networkElement.name }}</span></p>
          <p class="highlight">NetworkElement Type: <span class="incident-value">{{ incident.networkElement.type }}</span></p>
          <p class="highlight">NetworkElement Model: <span class="incident-value">{{ incident.networkElement.model }}</span></p>
          <p class="highlight">NetworkElement Manufacturer: <span class="incident-value">{{ incident.networkElement.manufacturer }}</span></p>
          <p class="highlight">Components: <span class="incident-value">{{ incident.component.componentName }}</span></p>
          <p class="highlight">Priority: <span class="incident-value">{{ incident.priority }}</span></p>
          <p class="highlight">Severity: <span class="incident-value">{{ incident.severity }}</span></p>
        
        </div>
   
    </li>
  </ul> 
  <style>
    .incident-value {
      color: brown;  
    }
  
    .basic-info {
      display: flex;
      flex-direction: row;
    } 
    
.basic-info p {
  margin-right: 6ch; /* Adjust the value as needed */
}

.basic-info p::after {
  content: '\00a0\00a0'; /* Unicode non-breaking space character, you can adjust the number of spaces */
}
    .status-box {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      color:white;
    }
  
   
    .status-new {
      background-color: red;
      color: white;
    }
    .status-inprogress {
      background-color: purple;
      color: white;
    }
    
    .status-assigned {
      background-color: orange;
      color: white;
    }
    .status-forwarded{
      background-color: blue;
      color: white;
    }
    
    .status-closed {
      background-color: green;
      color: white;
    }
  
    .status-resolved {
      background-color: greenyellow;
      color: white;
    } 
  
     
    .resolution-heading {
      color: red;  
    }
  
    .side-tab {
      position: fixed;
      top: 0;
      right: -400px; 
      width: 400px;
      height: 100%;
      background-color: #f4f4f4;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: right 0.3s ease-in-out;
    }
  
    .button-container {
      flex-shrink: 0;
      margin-right: 10px;   }
    .show-details-btn {
      margin-top: 10px;
      cursor: pointer;
      
       
    }
  </style>
<style>
  .action-button {
    display: inline-block;
    margin-right: 10px;

  }

  .side-heading {
    color: #0400ffea;

  }

  .attribute {
    color: brown;

  }

  .label-heading {
    color: red;

  }
</style>
 
  